<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "HackNews", root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "New Link", new_link_path %></li>
    </ul>
  </div>
</nav>
